body {
  background-color: black;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.textLeft {
  text-align: left;
}

.loadingDiv {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}

.image {
  min-width: 155px;
  margin-right: 20px;
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}

.articles {
  font-size: 10px;
  color: #a1aab9;
}

.first {
  font-weight: 500;
}

.profile {
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.followers {
  font-size: 10px;
  color: #a1aab9;
}

.second {
  font-weight: 500;
}

.rating {
  font-size: 10px;
  color: #a1aab9;
}

.third {
  font-weight: 500;
}

section>ul>li a {
  text-decoration: none;
}